
.card {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.text-white {
    color: #ffff !important;
}
.name {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.card:hover .name {
  top: 1rem;
  opacity: 1;
}

.buy {
  left: 50%;
  transform: translate3d(-50%, 0, 50px);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.card:hover .buy {
  bottom: 1rem;
  opacity: 1;
}

img {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.card:hover img {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
}

.card .image::before {
  content: "";
  border-radius: .25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: .25rem;
  opacity: 0;
  transition: all .5s;
}

.card:hover .image::before {
  opacity: .5;
}

.card .image-1::before {
 background:#000;

}
